<div class="column">
  <nav class="panel">
    <p class="panel-heading">Project Information</p>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <%= image_tag "k-odin.svg" %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="https://www.theodinproject.com/">
                <strong>TheOdinProject</strong>
                <small>@TheOdinProject</small>
              </a>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <%= image_tag "git.png" %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="https://github.com/Marwan515/Clubhouse">
                <strong>Github Repo Link</strong>
                <small>@marwan515</small>
              </a>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <%= image_tag "odin.png" %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="https://www.theodinproject.com/lessons/ruby-on-rails-members-only">
                <strong>This Project Lesson Link</strong>
                <small>@TheOdinProject</small>
              </a>
            </p>
          </div>
        </div>
      </article>
    </div>
  </nav>
</div>